# Set our logging level
verb {{ verb }}

# Allow us to call our own scripts for cert verfication
# and route creation.
script-security 2

# Be sure to allow pulling options from the server
pull

# Set our mode, local address, protocol, port, and device
client
nobind
proto {{ openvpn_proto }}
port {{ openvpn_port }}
dev tun

# Set our remote server
remote {{ server.ip }}

# Make sure we get a server cert
remote-cert-tls server
ns-cert-type server

# Turn on compression
comp-lzo

# If we can't resolve the hostname for the server keep re-trying
resolv-retry infinite

# TLS Auth key for preventing a DOS against the TLS handshake
# TODO(del): add this back in.
# tls-auth /etc/openvpn/keys/tls-auth

# Openvpn only reads CRL files at start.
# Run our own script to verify the cert against the CRLs
# tls-export-cert /etc/openvpn/peer_cert
# tls-verify /etc/openvpn/scripts/tls-verify

# Our CA chain
# capath /etc/openvpn/capath
ca {{ssl_certpath}}/{{ca_crt}}

# Our cert
cert {{ssl_certpath}}/{{client.crt}}

# Our key
key {{ssl_keypath}}/{{client.key}}

# Don't bring up the interface or routes normally.
# This allows us to "hide" the VPN network and
# use it as a pure transit network.
# ifconfig-noexec
# up /etc/openvpn/scripts/if-up
# route-noexec
# route-up /etc/openvpn/scripts/route-up

askpass /etc/openvpn/client.pass
